//
// Entry Meta
//=====================

.entry-footer {
  .entry-meta {
    padding: 0px 0px 12px;
    margin: 0px auto 14px;
    text-align: center;
    @include rem( font-size, $entry-footer--entry-meta--font-size );
  }

  span.entry-categories {
    display: block;
  }
}

.entry-categories,
.entry-tags {
  display: block;
}
