
html {
  font-size: $html--font-size; /* 10px browser default */
}

body {
  background-color: $body--background-color;
  border: $border--huge-vieux-rose;
  color: $base__color;
  font-family: $base--font-family;
  @include rem( font-size, $base--font-size );
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  line-height: $base--line-height;
  margin: 0;

   @media screen and (max-width: 640px) {
    font-size: $base--font-size--small-screen;
  }

  /* Chrome fix */
  > div {
    font-size: $base__div--font-size;

     @media screen and (max-width: 640px) {
      font-size: $base__div--font-size--small-screen;
    }
  }
}
