/* ----- front page : autres histoires ----- */

// reglages généraux de la section
.frontpage-histoires {
   // padding: 10px 44px;

  .wrap {
    width: $width--responsive;
    margin: 10px auto;
    position: relative;
    //padding: 10px 24px;

    @media only screen and (min-width: $screen-size--regular) {
    width: $width--responsive;
    margin: auto;
    position: relative;
    padding: 0px;
    }
  }
}

// widget des articles
.featured-content-autres-histoires {
  max-width: $max-width--responsive;
  margin: auto auto 40px;

  .widget-title {
    color: $gris-argent;
    @include rem( font-size, $secondary-widget--mobile--title-font-size );
    text-transform: uppercase;
    &:after {
    content: "/";
    }
  }

  article {
    @include grid-column(12, $principal-grid);
    // float: left;
    position: relative;
    margin-bottom: 20px;

    h2.entry-title {
    margin-bottom: 4px;
      a {
      @include rem( font-size, $secondary-widget--mobile--article-title-font-size );
      text-transform: uppercase;
      color: $bleu-gris;
      }
    }

    .post-info {
      font-style: italic;
      @include rem( font-size, $secondary-widget--mobile--post-info-font-size );
      font-family: $font-family--josefin;
      margin-bottom: 12px;
    }

    a.more-link {
      @include rem (font-size, $secondary-widget--mobile--more-link-font-size);
      display: block;
      width: 100%;
      text-align: right;
      font-weight: $font-weight--bold;
      font-family: $font-family--roboto;
    }
  }

  @media only screen and (min-width: $screen-size--medium) {
    .widget-title {
    @include rem( font-size, $secondary-widget--tablet--title-font-size );
    }
    article {
    @include grid-column(6, $principal-grid);
      .entry-title a {
      @include rem( font-size, $secondary-widget--tablet--article-title-font-size );
      }
    }
  }

  @media only screen and (min-width: $screen-size--regular){
    .widget-title {
    @include rem( font-size, $secondary-widget--tablet--title-font-size );
    padding-left: 20px;
    }

    article {
      .post-info {
      position: absolute;
      top: 0;
      left: -6px;
      transform: rotate(90deg);
      transform-origin: top left;
      @include rem( font-size, $secondary-widget--post-info-font-size );
      }
      a.more-link {
      @include rem (font-size, $secondary-widget--more-link-font-size);
      padding-right: 10px;
      }
    }
  }



  @media only screen and (min-width: $screen-size--huge) {
  max-width: $max-width;
  margin: auto;
  }


}

// widget du bouton lire les autres articles
#custom_html-3.widget_text,
#custom_html-2.widget_text {
max-width: $max-width--responsive;
width: $width--responsive;
margin: 12px auto 24px;
text-align: center;

  a {
  border: $border--fine-bleu;
  padding: 12px 24px;
  @include rem (font-size, $secondary-widget--mobile--articles-link-font-size);
  }


  @media only screen and (min-width: $screen-size--medium) {
  @include grid-column(6, $principal-grid);
  @include grid-push(6, $principal-grid);
    a {
    background: $bleu-gris;
    padding: 10px;
    border: $border--petite-bleu;
    color: $white;
    padding: 12px 24px;
    @include rem (font-size, $secondary-widget--tablet--articles-link-font-size);
      &:hover {
      background: $white;
      color: $bleu-gris;
      }
    }
  }

  @media only screen and (min-width: $screen-size--large) {
    a {
    @include rem (font-size, $secondary-widget--articles-link-font-size);
    }
  }

}

// widget du bouton lire les autres articles : version en ligne
// #custom_html-2.widget_text {
// max-width: $max-width--responsive;
// width: 100%;
// margin: 12px auto 24px;
// text-align: center;
//   a {
//     border: $border--fine-bleu;
//     padding: 12px 24px;
//     @include rem (font-size, $secondary-widget--mobile--more-link-font-size);
//   }
//
//
//   @media only screen and (min-width: $screen-size--medium) {
//   @include grid-column(6, $principal-grid);
//   @include grid-push(6);
//   background: $bleu-gris;
//   padding: 10px;
//     a {
//     border: none;
//     color: $white;
//     padding: 12px 24px;
//     @include rem (font-size, $secondary-widget--tablet--more-link-font-size);
//     }
//   }
// }
