/* ----- front page : la derniere histoire ----- */


.frontpage-derniere-histoire {

  .wrap {
    max-width: $max-width--responsive;
    margin: auto;
    position: relative;
    padding: 10px 20px !important;
    border: $border--large-bleu;
  }

}

.featured-content-la-derniere-histoire {

  .widget-title {
    color: $gris-argent;
    @include rem( font-size, $principal-widget--mobile--title-font-size );
    text-transform: uppercase;
    &:after {
      content :"/";
    }
  }

  article {

    a.more-link {
      @include rem( font-size, $principal-widget--mobile--more-link-font-size );
      float: right;
      color: $principal-widget--more-link-color;
      text-decoration: none;
      font-weight: $font-weight--bold;
    }

    .entry-title a {
      @include rem( font-size, $principal-widget--mobile--article-title-font-size );
      text-transform: uppercase;
      color: $bleu-gris;
    }

    .post-info {
      @include rem( font-size, $principal-widget--mobile--post-info-font-size );
      font-family: $frontpage-widget-postinfo--font-family;
      font-style: italic;
      padding-left: 0px;
    }
  }
}

@media only screen and (min-width: $screen-size--medium) {

  .featured-content-la-derniere-histoire {

    .widget-title {
      @include rem( font-size, $principal-widget--tablet--title-font-size );
    }

    article {

      a.more-link {
        @include rem( font-size, $principal-widget--tablet--more-link-font-size );
      }

      .entry-title a {
        @include rem( font-size, $principal-widget--tablet--article-title-font-size );
      }

      .post-info {
        @include rem( font-size, $principal-widget--tablet--post-info-font-size );
      }
    }
  }
}

@media only screen and (min-width: $screen-size--regular) {

  .frontpage-derniere-histoire {
    .wrap {
      max-width: $max-width--responsive;
      margin: 40px auto;
      position: relative;
      padding: 0px;
      border: $border--large-bleu;
    }
  }

  .featured-content-la-derniere-histoire {

    .widget-title {
      @include rem( font-size, $principal-widget--title-font-size );
      transform: rotate(-90deg);
      position: absolute;
      left: -80px;
      top: 355px;
    }

    article {
      @include grid-column(10);
      float: right;

      p {
        padding-left: 30px;
      }

      a.more-link {
          @include rem( font-size, $principal-widget--more-link-font-size );
        }

      .entry-title a {
        @include rem( font-size, $principal-widget--article-title-font-size );
      }

      .post-info {
        @include rem( font-size, $principal-widget--post-info-font-size );
      }
    }

  }

}







  @media only screen and (min-width: $screen-size--huge) {
    .featured-content-la-derniere-histoire {
      max-width: $max-width;
    }
  }
