
/* ----- front page : les petites parenthèses ----- */


.frontpage-petites-parentheses {

    max-width: $max-width--responsive;
    margin: auto;
    position: relative;

    .widget_custom_html {
      width: 70%;
      margin: 20px auto 60px;

      .widget-title {
        text-transform: uppercase;
        text-align: center;
        @include rem( font-size, $parentheses-widget--title-font-size);
        color: $gris-argent;
      }
      .description-petites-parentheses {
        text-align: center;
        border-bottom: $border--fine-gris;
        @include rem( font-size, $parentheses-widget--description-font-size);
        padding: 12px 8px;
        color: $gris-argent;
      }
    }



#featured-post-2 {

  &.featured-content {

    article {
      @include grid-column(6, $frontpage-secondary-widgets-grid);
      margin-bottom: 20px;

      .entry-header {
        @include grid-column(1, $frontpage-inside-widgets-grid);

        .entry-title {
          text-align: right;

            a {
              @include rem( font-size, $parentheses-widget--mobile--article-title-font-size);
              text-transform: uppercase;
              color: $bleu-gris;
            }
          }
      }

      .entry-meta {
        font-style: italic;
        margin-bottom: 12px;
        text-align: right;
      }

      .entry-content {
        @include grid-column(2, $frontpage-inside-widgets-grid);
        float: right;

        p {
          border-left: $border--fine-bleu;
          padding-left: 8px;
        }
      }

      a.more-link {
        margin: 12px auto 18px;
        display: block;
        padding: 6px;
        text-transform: uppercase;
        text-align: right;
        text-decoration: none;
        clear: both;
        border-left: none;
      }
    }
  }

}

@media only screen and (min-width : $screen-size--medium) {
  margin-bottom: 10px;
  padding: 10px;
}

@media only screen and (min-width : $screen-size--large) {
  margin-bottom: 20px;
  padding: 12px;
}

@media only screen and (min-width : $screen-size--huge) {
  padding: 18px;
}
}
