
$border--huge-gris: 22px solid $gris-argent;
$border--huge-vieux-rose: 22px solid $vieux-rose;
$border--huge-mint: 22px solid $mint-clair;
$border--huge-bleu: 22px solid $bleu-gris;

$border--large-gris: 3px solid $gris-argent;
$border--large-vieux-rose: 3px solid $vieux-rose;
$border--large-mint: 3px solid $mint-clair;
$border--large-bleu: 3px solid $bleu-gris;

$border--fine-gris: 1px solid $gris-argent;
$border--fine-vieux-rose: 1px solid $vieux-rose;
$border--fine-mint: 1px solid $mint-clair;
$border--fine-bleu: 1px solid $bleu-gris;
