
$border--huge-gris: 22px solid $gris-argent;
$border--huge-vieux-rose: 22px solid $vieux-rose;
$border--huge-mint: 22px solid $mint-clair;
$border--huge-bleu: 22px solid $bleu-gris;

$border--large-gris: 12px solid $gris-argent;
$border--large-vieux-rose: 12px solid $vieux-rose;
$border--large-mint: 12px solid $mint-clair;
$border--large-bleu: 12px solid $bleu-gris;

$border--moyenne-gris: 4px solid $gris-argent;
$border--moyenne-vieux-rose: 4px solid $vieux-rose;
$border--moyenne-mint: 4px solid $mint-clair;
$border--moyenne-bleu: 4px solid $bleu-gris;

$border--fine-gris: 1px solid $gris-argent;
$border--fine-vieux-rose: 1px solid $vieux-rose;
$border--fine-mint: 1px solid $mint-clair;
$border--fine-bleu: 1px solid $bleu-gris;
