// Base Colors
//===================
$white: #fff;
$black: #000;

$gris-clair: #bcc3c9;
$gris-moyen: #686f75;

$mint-clair: #e8f9f1;
$taupe-clair: #eae1e1;
$taupe-fonce: #c6bdbd;
$vieux-rose: #dba9a9;
$bleu-gris: #2b3038;
$gris-argent: #99a7ad;


//
// Color Configuration
//===========================

$link--color: $vieux-rose;
$link--hover-color: $gris-argent;
$link--hover-background-color: $vieux-rose;

// Elements
$base--color: $gris-moyen;
$body--background-color: $white;

// Form Elements
$input--background-color: $white;
$input--border-color: $gris-clair;
$input--color: $gris-argent;
$input--focus-border-color: $gris-clair;
$button--background-color: $gris-argent;
$button--color: $white;
$button--hover-background-color: $vieux-rose;
$button--hover-color: $white;
$button--disabled-background-color: $gris-clair;
$button--disable-color: $gris-moyen;

//
// Header
//======================
$site-header--background-color: $white;
$site-title--link-color: $gris-argent;

//
// Navigation
//============================
$nav--link-color: $gris-argent;
$nav--hover-color: $vieux-rose;
$submenu--border-color: $gris-clair;
$submenu--link-background-color: $white;

$primary-nav--background-color: $white;
$primary-nav--border-color: $gris-clair;
$primary-nav--link-color: $nav--link-color;

$secondary-nav--background-color: $white;
$secondary-nav--border-color: $gris-clair;
$secondary-nav--link-color: $nav--link-color;

$js-nav--background-color: $white;
$js-nav--hover-color: $black;
$js-nav--focus-color: $vieux-rose;

$nav-toggle--background-color: $white;
$nav-toggle--color: $gris-argent;

$archive-pagination--background-color: $white;
$archive-pagination--color: $gris-argent;
$archive-pagination--hover-background-color: $vieux-rose;
$archive-pagination--hover-color: $white;

//
// Footer
//============================
$siteFooter--background-color: $white;
$site-footer--border-color: $gris-clair;
$footer-widgets--background-color: $white;

//
// Entry Content
//===================
$entry-footer__meta--border-color: $gris-clair;
$entry--background-color: $white;
$entry-title--link-color: $bleu-gris;
$entry-title--hover-color: $vieux-rose;
$entry-content__code--background-color: $gris-clair;
$entry-content__code--color: $gris-argent;


$entry-title--color: $bleu-gris;

//
// Comments
//===================
$comment--background-color: $white;

//
// Widgets
//===================
$widget-title--link-color: $gris-argent;
$principal-widget--more-link-color: $bleu-gris;
$principal-widget--more-link-color-hover: $white;


//
// Search widget
//===================
$search-widget--input-background-color: $taupe-fonce;
$search-widget--focus-background-color: $white;
$search-widget--input-color: $white;
$search-widget--search-color: $bleu-gris;


//
// Plugins
//===================
$enews--background-color: $gris-argent;
$enews--color: $white;
$enews__input--border-color: $gris-argent;
$enews__submit-button--background-color: $vieux-rose;
$enews__submit-button--color: $white;
$enews__submit-button__BackgroundHoverColor: $white;
$enews__submit-button--hover-color: $vieux-rose;

// General Components
$breadcrumbs--background-color: $white;
$author-box--background-color: $white;
$after-entry--background-color: $white;
$archive-description--background-color: $gris-clair;
