// Common Fonts
$font-family--roboto: 'Roboto Mono', monospace;
$font-family--josefin: 'Josefin Sans', sans-serif;


// Base Typography
$html--font-size: 62.5%;

$base--font-family: $font-family--roboto;
$base--font-size: 16px;
$base--font-size--small-screen: 14px;
$base--div--font-size: 1.6rem;
$base--div--font-size--small-screen: 1.4rem;
$base--line-height: 1.4;

$font-weight--light: 300;
$font-weight--normal: 400;
$font-weight--bold: 700;
$font-weight--extra-bold: 900;

// Headings
$headings--font-family: $font-family--josefin;
$headings--line-height: 1.3;
$h1--font-size:  42px;
$h2--font-size:  30px;
$h3--font-size:  24px;
$h4--font-size:  20px;
$h5--font-size:  18px;
$h6--font-size:  16px;



// Elements
$blockquote--font-size: 22px;
$blockquote--bullet-font-size: 186px;
$input--font-size: 18px;
$button--font-size: 16px;

//
// Navigation
//===========
$nav--font-size: 16px;
$submenu--font-size: 14px;
$primary-nav--font-size: 14px;
$archive-pagination--font-size: 16px;

$secondary-nav--plus-font-size: 88px;

//
// Header
//==================
$site-title--font-size: 30px;
$site-description--font-size: 16px;


//
// Footer
//==================
$site-footer--font-size: 16px;
$footer-widgets--font-size: 18px;

//
// Entry Content
//===================
$entry-meta--font-size: 18px;
$entry-header--entry-meta--font-size: 18px;
$entry-footer--entry-meta--font-size: 18px;

$entry-title--font-size: 72px;
$entry-title--mobile--font-size: 36px;
$entry-title--tablet--font-size: 36px;

$entry-content--h1-font-size: 54px;
$entry-content--h2-font-size: 50px;
$entry-content--h3-font-size: 40px;
$entry-content--h4-font-size: 34px;
$entry-content--h5-font-size: 30px;
$entry-content--h6-font-size: 24px;

$entry-content--navigation-font-size: 92px;
$entry-content--mobile--navigation-font-size: 42px;

//
// Comments
//===================
$comments--font-size: 18px;
$comments-placeholder--mobile--font-size: 22px;
$comments-placeholder--tablet--font-size: 22px;
$comments-placeholder--desktop--font-size: 22px;

$comments-button--mobile--font-size: 24px;
$comments-button--tablet--font-size: 22px;
$comments-button--desktop--font-size: 22px;

$comments-list--mobile--comment-author-font-size: 22px;
$comments-list--tablet--comment-author-font-size: 24px;
$comments-list--desktop--comment-author-font-size: 28px;

$comments-reply-button--mobile--font-size: 20px;
$comments-reply-button--tablet--font-size: 24px;
$comments-reply-button--desktop--font-size: 28px;




//
// Widgets
//===================
$widget-title--font-size: 18px;
$featured-content__entry-title--font-size: 20px;
$frontpage-widget-postinfo--font-family: $font-family--josefin;

$frontpage-widget--mobile--content-font-size: 18px;
$frontpage-widget--tablet--content-font-size: 20px;
$frontpage-widget--content-font-size: 22px;


//regular
$principal-widget--title-font-size: 36px;
$principal-widget--article-title-font-size: 82px;
$principal-widget--more-link-font-size: 92px;
$principal-widget--post-info-font-size: 22px;

//mobile
$principal-widget--mobile--title-font-size: 22px;
$principal-widget--mobile--article-title-font-size: 54px;
$principal-widget--mobile--more-link-font-size: 70px;
$principal-widget--mobile--post-info-font-size: 18px;

//tablet
$principal-widget--tablet--title-font-size: 26px;
$principal-widget--tablet--article-title-font-size: 62px;
$principal-widget--tablet--more-link-font-size: 88px;
$principal-widget--tablet--post-info-font-size: 20px;


// regular
$secondary-widget--title-font-size: 36px;
$secondary-widget--article-title-font-size: 42px;
$secondary-widget--more-link-font-size: 64px;
$secondary-widget--post-info-font-size: 16px;
$secondary-widget--articles-link-font-size: 32px;

//mobile
$secondary-widget--mobile--title-font-size: 18px;
$secondary-widget--mobile--article-title-font-size: 42px;
$secondary-widget--mobile--more-link-font-size: 48px;
$secondary-widget--mobile--post-info-font-size: 18px;
$secondary-widget--mobile--articles-link-font-size: 24px;

//tablet
$secondary-widget--tablet--title-font-size: 22px;
$secondary-widget--tablet--article-title-font-size: 42px;
$secondary-widget--tablet--more-link-font-size: 52px;
$secondary-widget--tablet--post-info-font-size: 16px;
$secondary-widget--tablet--articles-link-font-size: 28px;

// about widget
//regular
$about-widget--title-font-size: 36px;
$about-widget--about-title-font-size: 42px;
$about-widget--article-font-size: 32px;
$about-widget--more-link-font-size: 32px;
$about-widget--post-info-font-size: 16px;

//mobile
$about-widget--mobile--title-font-size: 36px;
$about-widget--mobile--about-title-font-size: 42px;
$about-widget--mobile--article-font-size: 20px;
$about-widget--mobile--more-link-font-size: 22px;
$about-widget--mobile--post-info-font-size: 16px;

//tablet
$about-widget--tablet--title-font-size: 36px;
$about-widget--tablet--about-title-font-size: 42px;
$about-widget--tablet--article-font-size: 24px;
$about-widget--tablet--more-link-font-size: 32px;
$about-widget--tablet--post-info-font-size: 22px;


//regular
$parentheses-widget--title-font-size: 28px;
$parentheses-widget--description-font-size: 22px;
$parentheses-widget--article-title-font-size: 36px;
$parentheses-widget--article-excerpt-font-size: 18px;
$parentheses-widget--more-link-font-size: 32px;
$parentheses-widget--post-info-font-size: 16px;

//mobile (75%)
$parentheses-widget--mobile--title-font-size: 24px;
$parentheses-widget--mobile--article-title-font-size: 30px;
$parentheses-widget--mobile--article-excerpt-font-size: 16px;
$parentheses-widget--mobile--more-link-font-size: 48px;
$parentheses-widget--mobile--post-info-font-size: 14px;

//tablet (85%)
$parentheses-widget--tablet--title-font-size: 20px;
$parentheses-widget--tablet--article-title-font-size: 28px;
$parentheses-widget--tablet--article-excerpt-font-size: 14px;
$parentheses-widget--tablet--more-link-font-size: 24px;
$parentheses-widget--tablet--post-info-font-size: 12px;


//
// recettes
//===================
$recipe-widget--recipe-title-font-size: 4.6em;
$recipe-widget--recipe-sumary-font-size: 16px;

$recipe-widget--ingredients-title-font-size: 4.2em;
$recipe-widget--ingredients-content-font-size: 0.8em;

$recipe-widget--instructions-title-font-size: 4.2em;
$recipe-widget--instructions-subtitle-font-size: 1.2em;
$recipe-widget--instructions-content-font-size: 1em;

$recipe-widget--notes-title-font-size: 1.8em;
$recipe-widget--notes-content-font-size: 0.8em;


//
// petites parentheses
//===================
$parentheses--mobile--title-font-size: 16px;
$parentheses--tablet--title-font-size: 92px;
$parentheses--desktop--title-font-size: 124px;

//
// archives : blog page
//===================
$archive-blog--mobile--title-font-size: 16px;
$archive-blog--tablet--title-font-size: 92px;
$archive-blog--desktop--title-font-size: 124px;

$archive-blog--mobile--pp-title-font-size: 80px;
$archive-blog--tablet--pp-title-font-size: 112px;
$archive-blog--desktop--pp-title-font-size: 144px;

$archive-blog--mobile--more-link-font-size: 16px;
$archive-blog--tablet--more-link-font-size: 92px;
$archive-blog--desktop--more-link-font-size: 124px;

$archive-blog--mobile--pp-more-link-font-size: 16px;
$archive-blog--tablet--pp-more-link-font-size: 52px;
$archive-blog--desktop--pp-more-link-font-size: 114px;

$archive-blog--mobile--post-info-font-size: 16px;
$archive-blog--tablet--post-info-font-size: 92px;
$archive-blog--desktop--post-info-font-size: 124px;

$archive-blog--mobile--meta-font-size: 16px;
$archive-blog--tablet--meta-font-size: 92px;
$archive-blog--desktop--meta-font-size: 124px;

//
// archives : categories et tags
//==================================
$archive-cat--mobile--title-font-size: 58px;
$archive-cat--tablet--title-font-size: 64px;
$archive-cat--desktop--title-font-size: 84px;

$archive-cat--mobile--more-link-font-size: 40px;
$archive-cat--tablet--more-link-font-size: 68px;
$archive-cat--desktop--more-link-font-size: 84px;

//
// template : soutien
//===================
$template-soutien--mobile--title-font-size: 42px;
$template-soutien--tablet--title-font-size: 82px;
$template-soutien--desktop--title-font-size: 94px;

$template-soutien--mobile--content-font-size: 22px;
$template-soutien--tablet--content-font-size: 24px;
$template-soutien--desktop--content-font-size: 26px;

$template-soutien--mobile--btn-font-size: 46px;
$template-soutien--tablet--btn-font-size: 92px;
$template-soutien--desktop--btn-font-size: 124px;


//
// template : contact
//===================
$template-contact--mobile--title-font-size: 42px;
$template-contact--tablet--title-font-size: 82px;
$template-contact--desktop--title-font-size: 142px;

$template-contact--mobile--content-font-size: 22px;
$template-contact--tablet--content-font-size: 24px;
$template-contact--desktop--content-font-size: 26px;

$template-contact--mobile--bouton-font-size: 42px;
$template-contact--tablet--bouton-font-size: 24px;
$template-contact--desktop--bouton-font-size: 26px;

$template-contact--mobile--bouton-hover-font-size: 32px;
$template-contact--tablet--bouton-hover-font-size: 24px;
$template-contact--desktop--bouton-hover-font-size: 26px;

$template-contact--mobile--btn-font-size: 46px;
$template-contact--tablet--btn-font-size: 92px;
$template-contact--desktop--btn-font-size: 124px;

//
// template : about
//===================
$template-about--mobile--title-font-size: 42px;
$template-about--tablet--title-font-size: 82px;
$template-about--desktop--title-font-size: 142px;

$template-about--mobile--content-font-size: 22px;
$template-about--tablet--content-font-size: 24px;
$template-about--desktop--content-font-size: 26px;

$template-about--mobile--accent-un-font-size: 62px;
$template-about--tablet--accent-un-font-size: 82px;
$template-about--desktop--accent-un-font-size: 92px;

$template-about--mobile--accent-deux-font-size: 62px;
$template-about--tablet--accent-deux-font-size: 82px;
$template-about--desktop--accent-deux-font-size: 62px;

$template-about--mobile--accent-trois-font-size: 42px;
$template-about--tablet--accent-trois-font-size: 56px;
$template-about--desktop--accent-trois-font-size: 76px;

$template-about--mobile--accent-quatre-font-size: 42px;
$template-about--tablet--accent-quatre-font-size: 56px;
$template-about--desktop--accent-quatre-font-size: 64px;

$template-about--mobile--accent-fin-font-size: 42px;
$template-about--tablet--accent-fin-font-size: 56px;
$template-about--desktop--accent-fin-font-size: 76px;

$template-about--mobile--bouton-font-size: 42px;
$template-about--tablet--bouton-font-size: 24px;
$template-about--desktop--bouton-font-size: 26px;

$template-about--mobile--bouton-hover-font-size: 32px;
$template-about--tablet--bouton-hover-font-size: 24px;
$template-about--desktop--bouton-hover-font-size: 26px;

$template-about--mobile--btn-font-size: 46px;
$template-about--tablet--btn-font-size: 92px;
$template-about--desktop--btn-font-size: 124px;




//
// search widget
//===================
$search-widget--input-font-size: 18px;
$search-widget--mobile--input-font-size: 18px;

//
// Plugins
//===================
$enews--font-size: 16px;

//
// General Components
//===================
$breadcrumbs--font-size: 16px;
$author-box--font-size: 18px;
$author-box__Title--font-size: 20px;
$after-entry--font-size: 18px;

$archive-description--font-size: 18px;
$archive-title--font-size: 20px;
