/* ----- entry content : elements ----- */

.single .entry-content {

  a {
    text-decoration: none;
    border-bottom: $border--fine-vieux-rose;
    &:hover {
      background: $vieux-rose;
      color: $white;
    }
  }

  a.pinit-button.custom {
    border-bottom: none !important;
  }

  ol, ul {
    margin-bottom: 28px;
    margin-left: 40px;
  }

  ol > li {
    list-style-type: decimal;
  }

  ul > li {
    list-style-type: disc;
  }

  ol ol,
  ul ul {
    margin-bottom: 0;
  }

  code {
    background-color: $entry-content__code--background-color;
    color: $entry-content__code--color;
  }

  // share & like section
  // .et_social_networks {
  //
  //   .et_social_icons_container {
  //     width: 100%;
  //     margin: auto;
  //   }
  //
  //   a.et_social_share {
  //     margin: 2px !important;
  //     &:hover {
  //       background: none;
  //     }
  //   }
  // }


// .heateor_sss_sharing_container {
//   border-top: $border--fine-mint;
//   padding-top: 12px;
//   position: relative;
//   left: 0%;
//   text-align: center;
// }
  .heateor_sss_sharing_title {
    margin-top: 24px;
    text-transform: lowercase !important;
    font-weight: $font-weight--light !important;
    @include rem(font-size, $base--font-size);
    text-align: center;
  }

.heateorSssSharingRound {
    margin: 4px 8px !important;
  }


}
