//
// Main entry article
//==============================

.entry {
  max-width: $max-width--responsive;
  background-color: $entry--background-color;
  padding: 30px;
  margin-bottom: 5%;

  @media only screen and (min-width : $screen-size--medium) {
    margin-bottom: 40px;
    padding: 70px 40px;
  }

  @media only screen and (min-width : $screen-size--huge) {
    max-width: $max-width--huge-screen;
    margin: auto;
  }

}
