//
// Main entry article
//==============================


.single .entry {
  max-width: $max-width--responsive;
  padding: 2vh 3vw;
  margin: auto;

  @media only screen and (min-width : $screen-size--medium) {
    padding: 2vh 4vw;
  }

  @media only screen and (min-width : $screen-size--huge) {
    padding: 4vh 2vw;
  }

}
